.signInButton {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 3rem;
  background-color: var(--gray-850);
  border-radius: 3rem;
  border: none;
  color: var(--gray-50);
  padding: 1rem;
  font-weight: 700;

  transition: filter 0.2 ease-in-out;

  &:hover {
    filter: brightness(0.8);
  }

  svg:first-child {
    margin-right: 1rem;
  }

  svg:last-child {
    margin-left: 1.25rem;
  }
}
